[mariadb]
server_id = 1
log_bin = /var/log/mysql/mariadb-bin
binlog_format = ROW
expire_logs_days = 7
max_binlog_size = 100M
binlog_annotate_row_events = ON
sync_binlog = 1
gtid_domain_id = 1
log_slave_updates = ON
skip_name_resolve = ON
